* {
  box-sizing:border-box;
  font-family: Varela Round;
}

body {
  margin: 0;
}

/* fixed header */
header {
  height: 100px;
  width: 100%;
  color: white;
  background-color: #741e0a;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* logo */
#logo {
  height: 100%;
  display: inline;
}

/* nav bar */
nav {
  display: inline-block;
  width: 550px;
  align-self: flex-end;
}

nav ul {
  display: inline-flex;
}

nav li {
  list-style: none;
  display: inline;
  padding: 0 20px;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Grid Creation */
.home {
  display: grid;
  grid-template: 350px 1fr / repeat(4, 25%);
  position: relative;
  top: 100px;
  padding-bottom: 40px;
}

/* photo carousel container */
#photocarousel {
  grid-area: 1 / 1 / 2 / span 4;
}
.slideshow-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -172px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* News Section */
#news_items {
  grid-area: 2 / 1 / span 1 / span 3;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.news_card {
  width: 250px;
  height: 210px;  
  margin: 0;
  border: 1px solid black;
  overflow: hidden;
}

.news_card p,
.news_card h4 {
  padding: 0 10px;
  margin: 0;
}

/* Next Game */
#next_game {
  grid-area: 2 / 4 / span 1 / span 1;
  display: inline;
  color: white;
  background-color: #741e0a;
  padding: 10px;
  align-content: space-evenly;
}

#next_game h2 {
  font-family: Fredoka;
  font-size: 40px;
  margin: 0;
  text-align: center;
}

#next_game p {
  margin: 0;
  text-align: center;
}

.team_name {
  font-size: 30px;
}

/* fixture page*/
.fixture {
  position: relative;
  top: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.fixture h2 {
  width: 100%;
  text-align: center;
}

.fixture-container {
  width: 350px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.fixture-container h3 {
  text-align: center;
}

/* stats page */
.stats {
  position: relative;
  top: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.stats h2 {
  width: 100%;
  text-align: center;
}

.player h3 {
  text-align: center;
}

.player {
  width: 280px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.player img,
.player table {
  margin: auto;
}

/* interviews page */
.interviews {
  position: relative;
  top: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.interviews h2 {
  width: 100%;
  text-align: center;
}

.interview_card h3 {
  text-align: center;
}

.interview_card {
  width: 330px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

/* join page */
.join {
  position: relative;
  top: 100px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
}

.join h2 {
  width: 100%;
  text-align: center;
}

.league h3 {
  text-align: center;
}

.league {
  width: 330px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

/* contact page */
.contact {
  position: relative;
  top: 100px;
  padding-bottom: 40px;
}

.contact h2 {
  text-align: center;
}

.contact form {
  width: 300px;
  margin: auto;
}

/* fixed footer */
footer {
  height: 40px;
  width: 100%;
  color: white;
  background-color: #741e0a;
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

footer p {
  display: inline;
}